<a href="{{site.baseurl}}#" class="toggle-sidebar">Toggle navigation</a>
<div class="sidebar">
    <h4>General</h4>
    <ul class="side-nav">
        <li><a href="{{site.baseurl}}/getting-started">Getting Started</a></li>
        <li><a href="{{site.baseurl}}/understanding-gestures">Understanding gestures</a></li>
        <li><a href="{{site.baseurl}}/tips">Tips 'n Tricks</a></li>
        <li><a href="{{site.baseurl}}/browser-support">Browser support</a></li>
        <li><a href="{{site.baseurl}}/examples">Examples</a></li>
        <li><a href="{{site.baseurl}}/changelog">Changelog</a></li>
    </ul>
    <h4>Hammer</h4>
    <ul class="side-nav">
        <li><a href="{{site.baseurl}}/api">API</a></li>
        <li><a href="{{site.baseurl}}/jsdoc">JSDoc</a></li>
        <li><a href="{{site.baseurl}}/touch-action">Touch-action</a></li>
        <li><a href="{{site.baseurl}}/recognize-with">Recognize With</a></li>
        <li><a href="{{site.baseurl}}/require-failure">Require Failure</a></li>
        <li><a href="{{site.baseurl}}/toggle-recognizer">Toggle Recognizer</a></li>
    </ul>
    <h4>Recognizers</h4>
    <ul class="side-nav">
        <li><a href="{{site.baseurl}}/recognizer-pan">Pan</a></li>
        <li><a href="{{site.baseurl}}/recognizer-pinch">Pinch</a></li>
        <li><a href="{{site.baseurl}}/recognizer-press">Press</a></li>
        <li><a href="{{site.baseurl}}/recognizer-rotate">Rotate</a></li>
        <li><a href="{{site.baseurl}}/recognizer-swipe">Swipe</a></li>
        <li><a href="{{site.baseurl}}/recognizer-tap">Tap</a></li>
    </ul>
    <h4>Extensions</h4>
    <ul class="side-nav">
        <li><a href="{{site.baseurl}}/jquery-plugin">jQuery plugin</a></li>
        <li><a href="{{site.baseurl}}/angularjs-directive">Angular.js directive</a></li>
        <li><a href="{{site.baseurl}}/touch-emulator">Emulate multi-touch</a></li>
    </ul>
</div>
